---
import Layout from "@layouts/Layout.astro";
import SocialLinks from "@components/common/SocialLinks";
import Container from "@components/common/Container";
import ContactForm from "@components/pages/contact/ContactForm";
import { getLocale } from "astro-i18n-aut";
import i18n from "@src/i18n";

const locale = getLocale(Astro.url);
---

<Layout
  title={i18n.t("pages.contact.title")}
  description={i18n.t("pages.contact.description")}
>
  <Container className="py-10">
    <div class="center gap-2">
      <div class="w-40 h-40 mb-5">
        <img
          class="overflow-hidden border-2 rounded-full"
          src="/me.webp"
          alt="me"
        />
      </div>
      <h2 class="text-3xl font-bold">
        {i18n.t("pages.contact.components.profiles.my_name")}
      </h2>
      <p class="-mt-1 text-base font-semibold">
        {i18n.t("pages.contact.components.profiles.subtitle")}
      </p>
      <SocialLinks />
    </div>
    <div class="center gap-2 overflow-hidden">
      <div>
        <div class="text-center md:!text-start">
          <p class="text-xl font-semibold md:text-2xl">
            {i18n.t("pages.contact.components.contact_form.title")}
          </p>
          <p>
            {i18n.t("pages.contact.components.contact_form.subtitle")}
          </p>
        </div>
        <br />
        <ContactForm lang={locale} client:load />
      </div>
    </div>
  </Container>
</Layout>
