---
import { getLocale, getLocaleUrl } from "astro-i18n-aut";
import Icon from "./Icon";

const link = Astro.url;
const lang = getLocale(link);
const newLang = lang === "ar" ? "en" : "ar";
const newLink = getLocaleUrl(link, newLang);
---

<a href={newLink} data-lang={newLang} class="!bg-none">
  <Icon
    className="w-6 !filter-none"
    src={`/assets/${lang == "ar" ? "US" : "EG"}.svg`}
  />
</a>

<script>
  const langChangerBtn = document.querySelector("a");
  const newLang = langChangerBtn?.dataset.lang;
  langChangerBtn?.addEventListener("click", () => {
    localStorage.setItem("lang", newLang as string);
  });
</script>
