---
// import Header from "../components/common/Header.tsx.bak";
import Header from "@components/common/Header.astro";
import Footer from "../components/common/Footer";
import { getLocale } from "astro-i18n-aut";
import "papercss/dist/paper.min.css";
import "../styles/global.css";
import "@fontsource/tajawal";
import "@fontsource/neucha";
import { SEO } from "astro-seo";

import { ViewTransitions } from "astro:transitions";

const locale = getLocale(Astro.url);

import { initI18n } from "@src/i18n";
import { t } from "i18next";
initI18n(locale);

interface Props {
  title: string;
  description: string;
  img?: string;
  frontmatter?: any;
}

const { title, description, img } = Astro.props.frontmatter || Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();
const webisteGraphImg = new URL(
  "/assets/website-graph.png",
  Astro.site,
).toString();
---

<!doctype html>
<html lang={locale} dir={locale == "ar" ? "rtl" : "ltr"}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />

    <SEO
      title={title}
      description={description ? description : t("site.description")}
      twitter={{
        creator: "@andronasef",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          title: title,
          image: img ? img : webisteGraphImg,
          type: "website",
        },
      }}
    />

    <ViewTransitions />
  </head>
  <body class="w-screen min-h-screen overflow-x-hidden center">
    <Header />
    <main class="flex-grow center w-full" transition:animate="slide">
      <!-- <Backtotop /> -->
      <slot />
    </main>
    <Footer />
  </body>
</html>
