---
// import Header from "../components/common/Header.tsx.bak";
import Header from "@components/common/Header.astro";
import Footer from "../components/common/Footer";
import LanguageChanger from "@components/common/LanguageChanger.astro";
import Backtotop from "../components/common/Backtotop";
import { getLocale } from "astro-i18n-aut";
import "papercss/dist/paper.min.css";
import "../styles/global.css";
import "@fontsource/tajawal";
import "@fontsource/neucha";

interface Props {
  title: string;
}
// @ts-ignore
const { title } = Astro.props.frontmatter || Astro.props;

const locale = getLocale(Astro.url);

import { initI18n } from "@src/i18n";
initI18n(locale);
---

<!doctype html>
<html lang={locale} dir={locale == "ar" ? "rtl" : "ltr"}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script
      type="text/javascript"
      src="https://unpkg.com/external-svg-loader@latest/svg-loader.min.js"
      async></script>
  </head>
  <body class="w-screen min-h-screen overflow-x-hidden center">
    <Header />
    <main class="flex-grow center w-full">
      <!-- <Backtotop /> -->
      <slot />
    </main>
    <Footer />
  </body>
</html>
