---
import Header from "../components/common/Header";
import Footer from "../components/common/Footer";
import "../styles/global.css";
import "papercss/dist/paper.min.css";
import Backtotop from "../components/common/Backtotop";
interface Props {
  title: string;
}
// @ts-ignore
const { title } = Astro.props.frontmatter || Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script
      type="text/javascript"
      src="https://unpkg.com/external-svg-loader@latest/svg-loader.min.js"
      async></script>
  </head>
  <body
    class="flex flex-col items-center w-screen min-h-screen overflow-x-hidden"
  >
    <Header />
    <main class="flex-grow">
      <!-- <Backtotop /> -->
      <slot />
    </main>
    <Footer />
  </body>
</html>../components/common/Header
