---
import Container from "../components/common/Container";
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <Container>
    <div class="flex flex-col gap-3 py-12 md:[&>img]:max-w-lg">
      <h1 class="text-2xl font-bold">{frontmatter.title}</h1>
      <img src={frontmatter.img} alt=" " />
      <div class="flex flex-col gap-4">
        <slot />
      </div>
    </div>
  </Container>
</Layout>

<style>
  img {
    max-width: 400px;
  }
</style>
